/BarCounter.class
/Barrel.class
/Bartender.class
/BigTable.class
/Chair.class
/CheckoutCounter.class
/Clock.class
/Floor.class
/Inanimate.class
/Invalid.class
/Stair.class
/Student.class
/Table.class
/WaitingLine.class
/Wall.class
